:root{
    --primario: blueviolet;
    --secundario: crimson;
    --blanco: #ffffff;
    --oscuro: darkmagenta;
    --gris:grey;
    --tamañofuente: 16px; /*video 9, min 4:22*/
}
html{
    font-size: 62.5%;
}

body{
        font-family: 'Turred Road' sans-serif;
    background-color: black;
    color: white;
    font-size: 16px;
}

.contenedor{
    background-color: blueviolet;
    width: 75%;
    margin: auto;
}

.bg-secundario{
    color: darkmagenta;
}
.boton{
    background-color: blueviolet;
    color: white;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: -5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width:480px) {
    .boton{
        width: auto;
    }
}
h1{
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
h2{
    color: white;
    font-size: 2.5rem;
}
h3{
    color: white;
    font-size: 1.8rem;
}

span{
    color: rgb(108, 13, 163);
}

.titulo{
    color: crimson;
    font-size: 3.8rem;
    text-align: center;
}
.titulo span{
    color: darkmagenta;
    font-size: 2rem;
}

p{
    font-size: 2.6rem;
    font-weight: 400;
}

.navegacion-principal{
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
}
@media (min-weidth: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}
.navegacion-principal a{
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
}
.navegacion-principal a:hover{
    color: darkmagenta;
    background-color: crimson;
}
.hero{
    background-image: url('../img/hero768.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
}
.contenido-hero{
    background-color: rgb(0, 0, 0, 0,6);
    background-color: rgb(0, 0, 0 /60%);
    position: absolute;
    top: 0px;
    left:0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.informacion{
    display: flex;
    justify-content: center;
}