html{
    font-size: 62.5%;
}
    body{
        font-family: 'Turred Road' sans-serif;
    background-color: black;
    color: white;
    font-size: 16px;
}
h1{
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
h2{
    color: white;
    font-size: 2.5rem;
}
h3{
    color: white;
    font-size: 1.8rem;
}
span{
    color: rgb(108, 13, 163);
}
.titulo{
    color: crimson;
    font-size: 3.8rem;
    text-align: center;
}
.titulo span{
    color: darkmagenta;
    font-size: 2rem;
}
p{
    font-size: 2.6rem;
    font-weight: 400;
}