:root{
    --primario: blueviolet;
    --secundario: crimson;
    --blanco: #ffffff;
    --oscuro: darkmagenta;
    --gris:grey;
    --tamañofuente: 16px; /*video 9, min 4:22*/
}
html{
    font-size: 62.5%;
}

body{
        font-family: 'Turred Road' sans-serif;
    background-color: black;
    color: white;
    font-size: 16px;
}

.contenedor{
    width: 75%;
    margin: auto;
}

.bg-secundario{
    color: darkmagenta;
}

h1{
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
h2{
    color: white;
    font-size: 2.5rem;
}
h3{
    color: white;
    font-size: 1.8rem;
}

span{
    color: rgb(108, 13, 163);
}

.titulo{
    color: crimson;
    font-size: 3.8rem;
    text-align: center;
}
.titulo span{
    color: darkmagenta;
    font-size: 2rem;
}

p{
    font-size: 2.6rem;
    font-weight: 400;
}

.navegacion-principal{
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
}
@media (min-weidth: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}
.navegacion-principal a{
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
}
.navegacion-principal a:hover{
    color: darkmagenta;
    background-color: crimson;
}