:root{
    --primario: blueviolet;
    --secundario: crimson;
    --blanco: #ffffff;
    --oscuro: darkmagenta;
    --gris:grey;
    --tamañofuente: 16px;
}
html{
    font-size: 62.5%;
}

body{
        font-family: 'Turred Road' sans-serif;
    background-color: black;
    color: white;
    font-size: 16px;
}
fieldset{
    border: none;
}
.contenedor{
    color:black;
    background-color: blueviolet;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.contenedor a{
    color:black;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    display: inline;
    font-weight: 700;
    padding: 1rem;
}
.contenedor a:hover{
    color: darkmagenta;
    background-color: crimson;
}
.bg-secundario{
    color: darkmagenta;
}
.boton{
    background-color: blueviolet;
    color: white;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: -5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width:480px) {
    .boton{
        width: auto;
    }
}
h1{
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
h2{
    color: white;
    font-size: 2.5rem;
}
h3{
    color: white;
    font-size: 1.8rem;
}

span{
    color: rgb(108, 13, 163);
}

.titulo{
    color: crimson;
    font-size: 3.8rem;
    text-align: center;
}
.titulo span{
    color: darkmagenta;
    font-size: 2rem;
}

p{
    font-size: 2.6rem;
    font-weight: 400;
}

.navegacion-principal{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}
@media (min-weidth: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}
.navegacion-principal a{
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
}
.navegacion-principal a:hover{
    color: darkmagenta;
    background-color: crimson;
}
.hero{
    background-image: url('../img/hero768.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
}
.contenido-hero{
    background-color: rgb(0, 0, 0, 0,6);
    background-color: rgb(0, 0, 0 /60%);
    position: absolute;
    top: 0px;
    left:0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.informacion{
    display: inline-flex;
    justify-content: center;
}
.micontenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

@media (min-width:768px){
    .micontenido{
        flex-direction: row;
    }
}
.contenido h3{
    font-weight: normal;
    color: blueviolet;
}
.contenido p{
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
}
.icono{
    width: 15rem;
    height: 15rem;
    background-color:blueviolet;
    border-radius: 50%;
    display: flex;justify-content: center;
    align-items: center;
    color: white;
    }
.formulario{
        background-color: darkmagenta;
        width: min(60rem,100%);
        margin: 0 auto;
        padding: 2rem;
        border-radius: 2rem;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: blueviolet;
}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: darkmagenta;
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}
.input-text{
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
}